body {
    font-family: Arial, sans-serif;
    background-color:whitesmoke;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    width: 75%;
    background-color: #0288d1;
    color: white;
    text-align: center;
    padding: 20px;
    justify-content: center;
}

.logo-container img {
    width: 80px;
    height: auto;
    margin-right: 15px;
}

.container {
    width: 75%;
}

main {
    padding: 20px;
    background-color: white;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.side-menu {
    width: 25%;
    background-color: #03a9f4;
    padding: 20px;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
}

.side-menu ul {
    list-style: none;
    padding: 0;
}

.side-menu ul li {
    margin-bottom: 10px;
}

.side-menu ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
}

.side-menu ul li a:hover {
    background-color: #0277bd;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: whitesmoke;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
}

button {
    background-color: #0288d1;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0277bd;
}

footer {
    background-color: #01579b;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
    width: 75%;
}

footer a {
    color: #81d4fa;
    text-decoration: none;
   
}
.message {
    margin: 20px 20% 20px 20px;
    padding: 15px;
    border-radius: 6px;
    width: auto;
    max-width: 1000px;
    text-align: left;
    font-weight: bold;
    background-color: #dff0d8;
    color: #3c763d;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }
  
  .message:empty {
    display: none;
  }
  
  
  .user-info {
    font-size: 14px;
    font-style: italic;
    margin-top: 10px;
  }
  