<link rel="stylesheet" href="../question7a2.css">
<header>
  <div class="logo-container">
    <a href="/"><img src="../logo.webp" alt="Adopt A-Cat/Dog Logo"></a>
    <h1>Adopt A-Cat/Dog</h1>
  </div>
  <div id="date-time"></div>
  <div class="user-info"><!--USERNAME--></div>
  <script src="../datetime.js" defer></script>
</header>

<nav class="side-menu">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/find_pet">Find a Dog/Cat</a></li>
    <li><a href="/giveaway_pet">Have a Pet to Give Away</a></li>
    <li><a href="/dog_care">Dog Care</a></li>
    <li><a href="/cat_care">Cat Care</a></li>
    <li><a href="/contact">Contact Us</a></li>
    <li><a href="/create_account">Create Account</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</nav>
